@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #ffffff;
  color: hsl(0, 0%, 0%);
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


.card {
  margin-top: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #000000;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.text-muted {
  margin-top: 5px;
  color: #888;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  resize: vertical;
}

.btn-primary {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'IBM Plex Sans',
  sans-serif;
}

.mt-3 {
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000000;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.list-group-item h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.list-group-item p {
  margin-bottom: 10px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'IBM Plex Sans',
  sans-serif;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: 'IBM Plex Sans',
  sans-serif;
}

.btn-warning {
  background-color: #ffc107;
  color: #000000;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'IBM Plex Sans',
  sans-serif;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .card {
    padding: 10px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .btn-primary {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
  }

  .form-control,
  textarea,label {
    width: 300px;
  }

  .btn-primary {
    padding: 6px 12px;
  }
}